<div>
  <% @students.each do |student| %>
    <div><%= link_to student, student_path(student) %></div>
  <% end %>
</div>


<!-- link_to student, "/students/#{student.id}" -->
<!-- link_to student, student_path(student.id) -->
